body {
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/71ycVSd%2BJOL._SY500_.jpg");
    font-family: 'Gloria Hallelujah', cursive;
	font-size: 40px;
	line-height: 34px;
	color: #b9f101;
}

header{
    background-color: black;
    opacity: 0.85;
    font-family: 'Gloria Hallelujah', cursive;
	height: 200px;
}
header, section{
    width: 75%;
    height: 75%;
	margin-left: auto;
    margin-right: auto;
    text-align: center
}
header h1{
    font-family: 'Gloria Hallelujah', cursive;
    padding: 100px;
	font-size: 52px;
	font-style: bold;
	font-weight: bold;
}
h2{
    font-family: 'Gloria Hallelujah', cursive;
	font-size: 65px;
}
ul{
    font-family: 'Gloria Hallelujah', cursive;
	text-align: auto;
}
button{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 15px;
	background-color: #00ffff;
	width: 30%;
	height: 30px;
	opacity: 1 !important;
	margin-top: 50px;
}
.question, .answers{
    font-family: 'Gloria Hallelujah', cursive;
    width: 75%;
    font-size: 25px;
	margin-left: auto;
    margin-right: auto;
    text-align: left;

}
.main-section{
    font-family: 'Gloria Hallelujah', cursive;
    background-color: black;
    opacity: 0.85;
    color: #fffff4;
}
#restart, #submit, #results1, #results2, #results3, .question, .answers{
    display: none;
}

.instructions{
    font-family: 'Gloria Hallelujah', cursive;
	font-size: 30px;
	font-style: bold;
	font-weight: bold;
}
